* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

Input {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 1.5em;
}

.compare-top {
  padding: 10px 0 10px 0;
  height: 330px;
  background-color: teal;
}